/* Base elements */

* {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  line-height: 1.4;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Structural scaffolding */

.vessel {
  display: block;
  margin: .1em auto;
  padding: 0 1em;
  max-width: 70em;
}
