.menu-list {
}

.menu-list__item {
  margin: .75em 0;
}

.menu-list__header {
  display: flex;
  flex-flow: row nowrap;
}

.menu-list__title {
  flex: 1 0;
  border-bottom: .15em dotted rgba(0, 0, 0, .2);
}

.menu-list__title span {
  background-color: #fff;
  padding: 0 0 .3em;
}

.menu-list__price {
  flex-flow: 0 1;
}

.menu-list__description {
  display: block;
  font-size: .9em;
  line-height: 1.2;
}
