.paper {
  overflow-x: hidden;
}

.paper__main {
}

.paper__main {
  transition: 120ms ease-in transform;
}

.paper--sideMenuOpen .paper__main {
  transform: translateX(-5em);
}

.paper--sideMenuClosed .paper__main {
}
