.side-menu {
  background-color: #fefefe;
  padding: .75em 1.25em;
  box-shadow: 0 0 1em rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 120ms ease-in transform;
  z-index: 500;
}

.side-menu--closed {
  transform: translateX(-100%)
}

.side-menu--open {
}

.side-menu__title {
  font-size: 1.5em;
  font-weight: 100;
  margin: 0 0 .5em;
}
